@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Raleway:wght@100&display=swap');
body {
background-color:#101010;
margin:0px 0;
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey; 
  border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: grey; 
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #c3c3c3; 
}


.stop-clicking {
	
  position: fixed;
  background-color:hsl(0, 0%, 0%, 0%);
  visibility:hidden;
  opacity:1;
  z-index:40;
  width: 100%;
  height: 100%;
  transition: all 0.25s ease-out;
	
}

.unselectable {
  user-drag: none; 
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

.songname {
	
font-size:72px;
font-family: 'Raleway', sans-serif;

}

.radiopopup {
	
  position: fixed;
  background-color:hsl(0, 0%, 0%, 0%);
  visibility:hidden;
  opacity:1;
  z-index:50;
  width: 60%;
  height: 60%;
  margin:10% 20%;
  transition: all 0.25s ease-out;
  border: solid 6px;
  border-color: #695213;
  border-radius: 25px;
	
}

.songbar {
	position:relative;
	border-radius: 25px;
}

.songbar h2 {
	margin-top:0px;
	margin-bottom:0px;
	font-size:24px;
	font-family: 'Raleway', sans-serif;
	color:white;
}

@-webkit-keyframes marqueelike {
	0%, 100% {margin-left:-100%;}
	99.99% {margin-left:50%;}
 }
@-moz-keyframes marqueelike {
	0%, 100% {margin-left:-100%;}
	99.99% {margin-left:50%;}
 }
@-o-keyframes marqueelike {
	0%, 100% {margin-left:-100%;}
	99.99% {margin-left:50%;}
 }
@-ms-keyframes marqueelike {
	0%, 100% {margin-left:-100%;}
	99.99% {margin-left:50%;}
 }
@keyframes marqueelike {
	0%, 100% {margin-left:-100%;}
	99.99% {margin-left:50%;}
 }
 
 
 
 
.songbar2 {
	position:absolute;
	-webkit-animation:linear marqueelike2 25s infinite ;
	-moz-animation:linear marqueelike2 25s infinite ;
	-o-animation:linear marqueelike2 25s infinite ;
	-ms-animation:linear marqueelike2 25s infinite ;
	animation:linear marqueelike2 25s infinite ;
}

.songname3 {
	
position:absolute;
text-align:center;
width:100%;
top:0%;
font-size:20px;
font-family: 'Raleway', sans-serif;
	
}

@-webkit-keyframes marqueelike2 {
	0%, 100% {margin-left:-200%;}
	99.99% {margin-left:50%;}
 }
@-moz-keyframes marqueelike2 {
	0%, 100% {margin-left:-200%;}
	99.99% {margin-left:50%;}
 }
@-o-keyframes marqueelike2 {
	0%, 100% {margin-left:-200%;}
	99.99% {margin-left:50%;}
 }
@-ms-keyframes marqueelike2 {
	0%, 100% {margin-left:-200%;}
	99.99% {margin-left:50%;}
 }
@keyframes marqueelike2 {
	0%, 100% {margin-left:-200%;}
	99.99% {margin-left:50%;}
 }
 
 
 
.crossradio {
	
  font-size:50px;
  text-align:right;
  margin-top:-10px;
  vertical-align:top;
	
}

.crossradio a {
	
  z-index:1;
	
}

#canvas {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index:-1;
  border-radius: 19px;
}

#volumebar {
	
	position: absolute;
	vertical-align: bottom;
	display: block;
	background-color:black;
	border: solid #222 2em;
	position: absolute;
	width: 1em;
	height: 70%;
	left: -10em;
	top: 3em;
	z-index:-1;
	border-radius: 20px;
	
}

#volumedot {
	
	background-color:grey;
	border: solid white 1em;
	position: absolute;
	width: 1em;
	height: 1em;
	left: -1em;
	top: -1.5em;
	z-index:-1;
	cursor: grab;
	border-radius: 20px;
	
}

#playbutton {
	
	display: block;
	background-color:grey;
	position: absolute;
	width: 100%;
	height: 0;
	margin: 0 auto;
	top: 110%;
	z-index:-1;
	
}

#playbutton img {
	
	position: relative;
	margin: 0 auto;
	
}

.stop-scrolling {
  height: 100%;
  overflow: hidden;
}

.blur {
  filter: blur(0px);
}
 
.topmenu p,a {
display:inline;
color:#c0c0c0;
text-decoration:none;
position: relative;
text-align: center;
padding: 0px 5px;
transition: all 0.25s ease-out;
}

.topmenu p:hover {
color:#ffffff;
font-size:17px;
}

.topmenu {
font-family: 'Montserrat', sans-serif;
text-align: center;
margin:60px 0;
animation-name: appear3;
animation-duration: 2s;
}

.titlelogo{
width:40%;
  display: block;
margin: 0 auto;  
animation-name: appear3;
animation-duration: 2s;
}

.titlelogo img{
width:100%;
}

@keyframes appear1 {
  0%   {opacity: 0;transform: translate(0px, 100px);}
  100%   {opacity: 1;transform: translate(0px, 0px);}
}


@keyframes appear2 {
  0%   {opacity: 0;transform: translate(-800px, 0px);}
  100%   {opacity: 1;transform: translate(0px, 0px);}
}

@keyframes appear3 {
  0%   {opacity: 0;transform: translate(0px, -400px);}
  100%   {opacity: 1;transform: translate(0px, 0px);}
}

@keyframes appear4 {
  0%   {opacity: 0;}
  100%   {opacity: 1;}
}

.button a p {
	
color: #fcba03;
	
}

.button {
	
width:0px;
	
}

.button > a > p {
	
background-color: #101010;
border: solid 1px;
border-color: #695213;
height:50px;
width: 230px;
border-radius: 100px;
transition: all 0.25s ease-out;
	
}

.button:hover > a > p {
	
background-color: #fcba03;
height:50px;
width: 230px;
border-color: hsl(0, 0%, 0%);
border-radius: 100px;
color:white;
	
}

.descriptionDIV {
display: flex;
max-width:100%;
background:url(images/screen-0.webp);
background-size: 75em;
box-shadow: inset 0px 200px 83px -147px rgba(0,0,0,1);
}


.desc2 {

width: 30%;
position:relative;
font-family: 'Raleway', sans-serif;
margin: auto auto; 
padding: 0 5em; 
right:0;
animation-name: appear1;
animation-duration: 4s;
vertical-align: middle;
	
}

.desc2 h1 {

color:#fcba03;
font-size:72px;

}

.desc2 h2, p {

color:white;
font-size: 1em;

}

.radio {

display: flex;
justify-content: center;
align-items: center;
position: relative;
margin: 0 10%;
color:black;
 z-index:1;
  max-width:30%;
  width: auto;
  height: 40em;
animation-name: appear4;
animation-duration: 4s;

}

.radio img {

width:100%;
height:auto;

}

.about1 {

position: relative;
background-color:#fcba03;
color:white;
width:100%;
height:25vw;

}
.about2 {

position: relative;
font-family: 'Raleway', sans-serif;
margin: 0 auto;  
width:60%;
height:100%;
animation-name: appear2;
animation-duration: 4s;
display: flex;
justify-content: center;
align-items: center;
	
}

.about2 h1 {

font-size:5em;

}

.about2 h2,p {

}

.crew2 {
	
position: relative;
font-family: 'Raleway', sans-serif;  
display:block;
width:40%;
margin:0 auto;
padding:70px 0px;
animation-name: appear2;
animation-duration: 2s;
	
}

.crew2 h2,p {

}

.crew2 h2 {
color:#fcba03;
}

#line {
	
	background-color:white;
	height:2px;
	max-width:100%;
	margin: 20px 20px;
	
}

.crewdesc {
	
	display: flex;
	margin:50px 0;
	border-radius:25px;
	background-color:rgba(20,20,20,0.5);
	border:solid 2px black;
	
}

.profil-img {
	
  display:flex;
justify-content: center;
align-items: center;
  width: 300px;
  margin-right:50px;
position: relative;
border-radius: 100%;
font-family: 'Raleway', sans-serif;
	
}

.profil-img img {

  box-shadow: 3px 3px 3px #000000;
  border-radius: 100%;
  width: 100%;
	
}

.info1 {
	
position: relative;
background-color:#050505;
color:white;
width:100%;
height:200px;
text-align:center
	
}

.info2 {
	
position: relative;
line-height: 10px;
font-family: 'Raleway', sans-serif;
font-size:12px;
margin: 0 auto;  
width:100%;
height:80%;
	
}



	.radiopopupfloat {
	
	  position: fixed;
	  background-color:hsl(0, 0%, 0%, 0%);
	  visibility:hidden;
	  opacity:1;
	  z-index:50;
	  width: 30em;
	  height: 8em;
	  right: 2%;
	  bottom: 60px;
	  transition: all 0.25s ease-out;
		
	}
	
	.radiopopupfloat h2 {
	
	  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
		
	}
	
	.radiopopupfloat #playbutton img {
	
	  height:32px;
		
	}
	
#canvas2 {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index:-3;
}



@media only screen and (max-width: 900px) {
	
	.radio {
		margin:0;
		padding: 5px; 
		max-width:50%;
		
	}
	
	.about2 h1 {

		font-size:2em;

	}
	
	.crew2 {
	
		width:80%;
		
	}
	
	.titlelogo{
		width:80%;
	}
	
	.desc2 {

		margin-left: 0; 
		margin-right: 0; 
		padding-left: 5px; 
		padding-right: 5px; 
		width:50%
		
	}
	
	.radiopopup {
	
	  position: fixed;
	  background-color:hsl(0, 0%, 0%, 0%);
	  visibility:hidden;
	  opacity:1;
	  z-index:50;
	  width: 70%;
	  height: 60%;
	  right: 5%;
	  margin:10% 0;
	  transition: all 0.25s ease-out;
	  border: solid 6px;
	  border-color: #695213;
	  border-radius: 25px;
		
	}
	
	#volumebar {
	
		position: absolute;
		vertical-align: bottom;
		display: block;
		background-color:black;
		border: solid #222 2em;
		position: absolute;
		width: 1em;
		left: -30%;
		top: 3em;
		z-index:-1;
		border-radius: 20px;
		
	}
	
	.radiopopupfloat {
	
	  display: block;
	  margin:0 auto;
	  right:auto;
	  left: 50%;
	  margin-left:-15em
		
	}

}


@media only screen and (max-width: 1350px) {
	
	
	#schedule {
		
		width:1028px;
		height:1100px;
		
	}
}

@media only screen and (max-width: 1028px) {
	
	
	#schedule {
		
		width:725px;
		height:500px;
		
	}
}


@media only screen and (max-width: 750px) {
	
	.radio {
		margin:0;
		padding: 0px; 
		max-width:0%;
		visibility:hidden;
		
	}
	
	
	#volumebar {
	
		position: absolute;
		vertical-align: bottom;
		display: block;
		background-color:black;
		border: solid #222 1em;
		position: absolute;
		width: 1em;
		left: -30%;
		top: 3em;
		z-index:-1;
		border-radius: 20px;
		
	}
	
	.desc2 {

		margin-left: 50px; 
		margin-right: 50px; 
		padding-left: 5px; 
		padding-right: 5px; 
		width:100%
		
	}
	
	#schedule {
		
		width:500px;
		height:300px;
		
	}
}



@media only screen and (max-width: 550px) {
	
	
	#schedule {
		
		width:300px;
		height:500px;
		
	}
}

